body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: darkgray;
}

div {
  margin: 0px;
  padding: 0px;
  border: 0px solid gray;
}

div#page {
  width: 100%;
  height: 100%;
  display: inline-flex;
  overflow: hidden;
  padding: 5px;
}

div#tips {
  border: 1px solid gray;
  background-color: beige;
  padding: 5px;
  position: absolute;
  line-height: 130%;
  z-index: 100;
}

div#left {
  width: 50%;
  height: 100%;
  overflow: auto;
  border: 1px solid black;
}

div#right {
  width: 50%;
  height: 100%;
  display: block;
  overflow: hidden;
}

div#map {
  display: inline;
}

canvas#map {
  display: inline;
}

div#tools {
  text-align: right;
  margin: 0px 5px;
}

select#list, select#sublist {
  margin: 0px 5px;
  border: 1px solid black;
}

#editor {
  position: absolute;
  padding: 5px;
  margin: 0px 0px 0px 5px;
}

div#filename {
  height: 18px;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  display: inline;
  background-color: white;
  border: 1px solid gray;
}

button {
  font-size: 14px;
  padding: 5px;
  margin: 5px 5px 5px 0px;
}