
                             —— 游戏规则 ——

国有国法、家有家规，Mud 当然也有 Mud 的规矩，以下是 ES2 现行的天条，请务必
遵守。当然，玩家永远有最终极的权力——拒玩，如果到了这一地步，这些天条当然
再也管不到您，不过我希望这种情形永远不会发生。

□ 严禁使用机器人，抓到杀档案。

□ 严禁 Multi-login，抓到杀档案。

□ 严禁利用 Bug 牟利，情节严重者抓到杀档案。

□ 禁止无故骚扰别人，告诉乃论，情节严重者抓到杀档案。

□ 在公用频道上一次贴出太多的 TEXT 是件不礼貌的事, 初犯者口头警告一次
   再犯的话送保护管训, 三犯送 PURGE 一次。

□ 禁止将人物和他人共用，屡劝不听者抓到杀档案。

□ 禁止□漏有关游戏中谜题、机关、陷阱解法，屡劝不听者抓到杀档案。

□ 不鼓励使用卑劣手段 PK，告诉乃论，若无法达成和解，且受害人超过三人者抓到
   杀档案。

□ 不鼓励偷窃、抢劫、谩骂、侮辱、粗言粗语等行为，告诉乃论，情节严重且无法
   达成和解者抓到杀档案。

□ 以上除杀档案之惩罚由神亲自执行之外，其馀可向巫师申请调处。

□ 巫师调处若有不公、牟利特定玩家、或恶意伤害玩家权益，可向神申诉，申诉者
   自负举证之责任。

巫师除了以上的规则都必须遵守外，尚须遵守巫师规则(见 help wiz_rules)，欢迎您
随时检举违规的巫师。

By Annihilator(07/27/95)
