# ignore following files
.DS_Store
.settings
.idea
*.iml
*.log
*.pid
node_modules
mudlib/data/user
mudlib/data/login
mudlib/log/log
mudlib/log/USAGE
mudlib/log/author_stats
mudlib/log/domain_stats
mudlib/log/tsatic/CRASHES
