body, div#page {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  font-size: 14px;
}

div {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}

div#room {
  display: inline-block;
  width: 100%;
  text-align: center;
}

div#roomname {
  display: inline-block;
  width: 160px;
  height: 24px;
  padding: 5px 5px 0px 5px;
  margin: 3px 0px 1px 0px;
  text-align: center;
  font-size: 18px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 3px;
  overflow-x: hidden;
}

div#out1, div#out2box {
  margin: 0px;
  padding: 5px 5px 15px 5px;
  border: 2px solid gray;
  border-radius: 10px;
}

div#out1, div#out2 {
  overflow-y: scroll;
  overflow-x: scroll;
  font-family: SimSun;
  text-align: left;
  font-size: 16px;
  line-height: 150%;
}

div#out2box {
  overflow: hidden;
  display: none;
  text-align: right;
}

div#out2 {
}

button#out2x {
  width: 50px;
  height: 30px;
  margin: 0px -8px -13px 0px;
  border-radius: 2px;
}

p.out {
  white-space: pre;
  word-wrap: break-word;
  margin: 2px;
  padding: 0px;
}

img#cover {
  width: 400px;
  height: 540px;
  display: inline;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

div#in {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

input#str {
  width: 100px;
  height: 26px;
  font-size: 14px;
  padding: 3px;
  background-color: black;
  color: white;
  border: 2px solid gray;
  border-radius: 5px;
}

div#menu {
  width: 100%;
}

div#targets {
  width: 100%;
  padding: 5px 0px;
  margin: 0px;
  background-color: #111;
}

div.pad {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 200px;
}

div#explore, div#map, div#chat, div#martial, div#others {
  display: none;
}

div#chatkeys {
  height: 100%;
  overflow-y: scroll;
}

div#map {
  width: 240px;
  overflow: scroll;
}

table.pad {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

table.go {
  width: 160;
  height: 160;
  padding: 0px;
  margin: 0px;
}

button {
  border-radius: 5px;
  border: 2px solid gray;
  background-color: #111;
  color: white;
}

button.menu, button.channel {
  font-size: 14px;
  width: 50px;
  height: 36px;
  padding: 3px;
  margin: 1px;
}

button.keys {
  font-size: 14px;
  width: 40px;
  height: 40px;
  padding: 3px;
  margin: 1px;
}

button#look, button.go, button.channel {
  font-size: 14px;
  width: 45px;
  height: 40px;
  padding: 3px;
  margin: 1px;
  border-radius: 10px;
}

button.explore, button.learn, button.emote {
  color: white;
}

button.fight, button.practice, button.chat {
  color: aqua;
}

button.status, button.prepare, button.attack {
  color: chartreuse;
}

button.kill, button.warn {
  color: red;
}

button.exert, button.whisper {
  color: orange;
}

button.rumor {
  color: hotpink;
}

button.nw {
  border-top-left-radius: 20px;
}

button.ne {
  border-top-right-radius: 20px;
}

button.sw {
  border-bottom-left-radius: 20px;
}

button.se {
  border-bottom-right-radius: 20px;
}

a.target {
  color: cyan;
  text-decoration: none;
}

img.smiley {
  width: 34px;
  height: 34px;
  padding: 3px;
  margin: 1px;
  vertical-align: middle;
  background-color: white;
  border-radius: 3px;
}

img.sm {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin: 0px;
  vertical-align: middle;
  background-color: white;
  border-radius: 5px;
}

div.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 10px solid white;
  font-size: 0;
  line-height: 0;
}

div#targets{
  display: inline-block;
  width: 100%;
  text-align: center;
}
div#targetsleft{
  display: inline-block;
  width: 70%;
  text-align: left;
}
div#targetsright{
  display: inline-block;
  width: 30%;
  text-align: right;
}
a#cmdtarget, a#cmditem, a#chatchannel {
  width: 100px;
  height: 20px;
  padding: 3px 10px;
  margin: 0px 1px 2px 1px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: black;
  color: white;
  text-decoration: none;
}
a#chatchannel {
  margin: 0px 5px 0px 0px;
}

button.disable {
  border: 1px solid black;
  background-color: #222;
  color: black;
}

canvas#map {
  border: 1px solid #333;
}